body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-35px;
  width:1837px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:709px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:326px;
  width:331px;
  height:709px;
  display:flex;
}
#u30 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:238px;
  width:268px;
  height:72px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u31 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:712px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:46px;
  width:342px;
  height:712px;
  display:flex;
}
#u32 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:2px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:288px;
  width:511px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-51.83576795434619deg);
  -moz-transform:rotate(-51.83576795434619deg);
  -ms-transform:rotate(-51.83576795434619deg);
  transform:rotate(-51.83576795434619deg);
}
#u33 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:712px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:825px;
  width:338px;
  height:712px;
  display:flex;
}
#u34 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:2px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:835px;
  width:324px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(9.167465220797547deg);
  -moz-transform:rotate(9.167465220797547deg);
  -ms-transform:rotate(9.167465220797547deg);
  transform:rotate(9.167465220797547deg);
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:716px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:1115px;
  width:341px;
  height:716px;
  display:flex;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:2px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:889px;
  width:492px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(72.61891499442204deg);
  -moz-transform:rotate(72.61891499442204deg);
  -ms-transform:rotate(72.61891499442204deg);
  transform:rotate(72.61891499442204deg);
}
#u37 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:707px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:1115px;
  width:341px;
  height:707px;
  display:flex;
}
#u38 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:952px;
  width:350px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-72.75672246534845deg);
  -moz-transform:rotate(-72.75672246534845deg);
  -ms-transform:rotate(-72.75672246534845deg);
  transform:rotate(-72.75672246534845deg);
}
#u39 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:714px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:388px;
  width:340px;
  height:714px;
  display:flex;
}
#u40 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:2px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:564px;
  width:308px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-1.871744965288753deg);
  -moz-transform:rotate(-1.871744965288753deg);
  -ms-transform:rotate(-1.871744965288753deg);
  transform:rotate(-1.871744965288753deg);
}
#u41 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:2px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:419px;
  width:241px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-62.65558643345402deg);
  -moz-transform:rotate(-62.65558643345402deg);
  -ms-transform:rotate(-62.65558643345402deg);
  transform:rotate(-62.65558643345402deg);
}
#u42 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:294px;
  width:92px;
  height:18px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u43 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u43_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:709px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:1540px;
  top:1039px;
  width:332px;
  height:709px;
  display:flex;
}
#u44 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:791px;
  height:2px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:1097px;
  width:790px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(15.197842034853284deg);
  -moz-transform:rotate(15.197842034853284deg);
  -ms-transform:rotate(15.197842034853284deg);
  transform:rotate(15.197842034853284deg);
}
#u45 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
